
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: auto;
    width: 1450px;
    -webkit-box-shadow: 0px 0px 96px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 96px -2px rgba(0,0,0,1);
    box-shadow:  0px 0px 96px -2px rgba(0,0,0,1);
    border: 2px solid #000;

}
.cabecera{

    text-align: center;
    width: 100%;


}

.wrapper {
    width: 90%;
    margin: auto;
}



.header-container {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom:  2px solid #000;
}

.footer-container {
    text-align: center;

    border-top: 2px solid #000;

}


.header-container,
.footer-container {
    background: #18A7E0;
}

nav {
    margin: 0px;
    padding: 30px;
    list-style-type: none;
    padding-bottom: 10px;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {


    overflow: hidden;
    font-size: 25px;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
div.barra{
    position: absolute;

    -webkit-transition: width 1.2s;
}

.menu{

    position: relative;
    padding:16px;

    float:right;
    color:white;
    font-size: 1.3em;

}

.menu:hover {
    background-color:black;
}


#li2{
    float:right;
}
#li4{

    float:right;
}



li:hover p.menu{
    opacity: 1;
}   

.main {
    padding: 30px 0;
}

.main article h1 {
    text-align: center;
    font-size: 10em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


.header-container

{
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}


.main article {
    margin:auto;
    float: left;
    width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


.loguear{

    border: 1px dotted #999;
    margin: auto;
    width: 80%;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    text-align: center;
    padding: 20px 30px 40px;
}
.registro{
    margin: auto;
    width: 80%;
    border: 1px dotted #999;
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    text-align: center;
    padding: 20px 30px 40px;
}



.datos{
    float: left;
    margin: auto;
    padding: 0px 20px 30px;
}

.avatar{

    height: 150px;
    width: 150px;
    background: url(../img/log.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    border: 16px solid #2843de;;
    background-size: 100% auto;
    background-color: red;
}

.centrar{
    padding-left: 63px;
}

.form-input, .error{
    width: 250px; 
    height: 39px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
    font-family : inherit;
    font-size   : 25px;
}

.error{
    border:  solid 2px red;
}

.error:focus {
    outline: 0px;
}

.boton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.boton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.menux{
    margin:auto;

    padding:40px;

    float:right;
    color:white;

}